{% extends 'base.html' %}

{% block title %} Women at NASA {% endblock %}

{% block js %}
<script src="/static/js/nasaWomen.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="container">
<br>
<h1>Women @ NASA</h1>
<p>Searching for the women at NASA throughout history, using the https://images-api.nasa.gov API.</p>
<p><i>Developed by <a href="https://www.linkedin.com/in/maggie-ronan/" target="_blank">Maggie Ronan</a>. Code for project hosted on Github <a href="https://github.com/maggieee/women-at-NASA" target="_blank">here</a>.</i></p>
<div id="all-years" class="grid"></div>
<div id="all-images" class="grid"></div>
</div>
{% endblock %}